<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/images/favicon.png') }}">
    <title>Accounts Software</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ asset('theme/css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{ asset('theme/css/bootstrap-responsive.min.css')}}" />
    <link rel="stylesheet" href="{{ asset('theme/css/uniform.css')}}" />
    <link rel="stylesheet" href="{{ asset('theme/css/select2.css')}}" />
    <link rel="stylesheet" href="{{ asset('theme/css/matrix-style.css')}}" />
    <link rel="stylesheet" href="{{ asset('theme/css/matrix-media.css')}}" />
    <link href="{{ asset('theme/font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <link href="{{ asset('assets/libs/flot/css/float-chart.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link  href="{{ asset('dist/css/style.min.css') }}" rel="stylesheet">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" />


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {% include 'header.thtml.twig' %}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {% include 'sidebar.html.twig' %}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            {% include 'breadcrumb.html.twig' %}
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <div class="row-fluid">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {% include 'footer.html.twig' %}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
{% block javascripts %}
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{{ asset('assets/libs/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{{ asset('assets/libs/popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ asset('assets/libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js') }}"></script>
    <script src="{{ asset('assets/extra-libs/sparkline/sparkline.js') }}"></script>

    <script src="{{ asset('theme/js/jquery.uniform.js') }}"></script>
    <script src="{{ asset('theme/js/select2.min.js') }}"></script>
    <script src="{{ asset('theme/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('theme/js/matrix.js') }}"></script>
    <script src="{{ asset('theme/js/matrix.tables.js') }}"></script>

    <!--Wave Effects -->
    <script src="{{ asset('dist/js/waves.js') }}"></script>
    <!--Menu sidebar -->
    <script src="{{ asset('dist/js/sidebarmenu.js') }}"></script>
    <!--Custom JavaScript -->
    <script src="{{ asset('dist/js/custom.min.js') }}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>

    <script src="{{ asset('assets/js/customize.datatable.js') }}"></script>
            <script>
                jQuery.browser = {};
                (function () {
                    jQuery.browser.msie = false;
                    jQuery.browser.version = 0;
                    if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                        jQuery.browser.msie = true;
                        jQuery.browser.version = RegExp.$1;
                    }
                })();

                function OnChangePaymentType() {


                    if ($("#transaction_typesOfPayment").val() == "0") {
                        $("#transaction_bankName").show();
                        $("#transaction_accountNum").show();
                        $("#transaction_edit_bankName").show();
                        $("#transaction_edit_accountNum").show();
                        $( "label[for='transaction_bankName']" ).show();
                        $( "label[for='transaction_accountNum']" ).show();
                        $( "label[for='transaction_edit_bankName']" ).show();
                        $( "label[for='transaction_edit_accountNum']" ).show();
                        $('.bank_and_account').show()
                    } else {
                        $("#transaction_bankName").hide();
                        $("#transaction_accountNum").hide();
                        $( "label[for='transaction_bankName']" ).hide();
                        $( "label[for='transaction_accountNum']" ).hide();
                        $("#transaction_edit_bankName").hide();
                        $("#transaction_edit_accountNum").hide();
                        $('.bank_and_account').hide();



                    }
                }
                OnChangePaymentType();

                $("#transaction_typesOfPayment").change(()=>{
                    console.log("show data");
                    OnChangePaymentType();
                })

            </script>

{% endblock %}
</body>
</html>
