<footer class="footer text-center">
    All Rights Reserved by Portland-admin. Designed and Developed by <a href="http://portland-ad.com/" target="_blank">Portland Advertising Agency FZE LLC</a>.
</footer>