

    <div class="col-md-2"></div>
    <div class="col-md-8" >
        {{ form_start(form,{'attr':{'class':'form-horizontal','id':'transactionCreateForm'}})  }}

        <div class="control-group">
            {{ form_label(form.type, '', { 'label_attr': {'class': 'control-label'} }) }}
            <div class="controls">
                {{ form_widget(form.type) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.typesOfPayment, '', { 'label_attr': {'class': 'control-label'} }) }}
            <div class="controls">
                {{ form_widget(form.typesOfPayment) }}
            </div>
        </div>
        <div class="control-group bank_and_account">
            {{ form_label(form.bankName, '', { 'label_attr': {'class': 'control-label'} }) }}
            <div class="controls">
                {{ form_widget(form.bankName) }}
            </div>
        </div>
        <div class="control-group bank_and_account">
            {{ form_label(form.accountNum, '', { 'label_attr': {'class': 'control-label'} }) }}
            <div class="controls">
                {{ form_widget(form.accountNum) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.amount, '', { 'label_attr': {'class': 'control-label'} }) }}
            <div class="controls">
                {{ form_widget(form.amount) }}
            </div>
        </div>

        <div class="control-group">
            {{ form_label(form.debitOrCredit, '', { 'label_attr': {'class': 'control-label'} }) }}
            <div class="controls">
                {{ form_widget(form.debitOrCredit) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.description, '', { 'label_attr': {'class': 'control-label'} }) }}
            <div class="controls">
                {{ form_widget(form.description) }}
            </div>
        </div>
        <div class="control-group">
            <button class=" btn btn-success" style="margin-left:200px;">{{ button_label|default('Save') }}</button>
        </div>


        {{ form_end(form) }}
    </div>

