{% extends 'base.html.twig' %}

{% block title %}Edit Transaction{% endblock %}

{% block body %}
    <h1>Edit transaction</h1>

    {{ include('transaction/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('transaction_index') }}">back to list</a>

    {{ include('transaction/_delete_form.html.twig') }}
{% endblock %}
