{% extends 'base.html.twig' %}

{% block title %}Transaction index{% endblock %}

{% block body %}
    <a href="{{ path('transaction_new') }}" class="btn btn-inverse">Create new</a>
    <a href="#" class="btn btn-inverse">Export Pdf</a>
    <a href="#" class="btn btn-inverse">Export Excel File</a>
    <div class="row">
        <div class="widget-box" style="width:90%">
            <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                <h5>Data table</h5>
            </div>
            <div class="widget-content nopadding">
                <table border="0" cellspacing="5" cellpadding="5">
                    <tbody><tr>
                        <span id="date-label-from" class="date-label">From: </span><input class="date_range_filter date" type="text" id="datepicker_from" />
                    </tr>
                    <tr>
                        <span id="date-label-to" class="date-label">To:</span><input class="date_range_filter date" type="text" id="datepicker_to" />
                    </tr>
                    <tr>
                        <select id="cash_filter">
                            <option>select</option>
                            <option>Cash</option>
                            <option>Bank</option>
                        </select>
                    </tr>
                    <tr>
                        <select id="income_expense">
                            <option>select</option>
                            <option>Income</option>
                            <option>Expense</option>
                        </select>
                    </tr>
                    </tbody></table>
                <table class="table table-bordered data-table" id="base_table">
                    <thead>
                    <tr>
                        <th>Title Of Transaction
                        </th>
                        <th>Date Of Transaction</th>
                        <th>CashPayMent/BankPayment</th>
                        <th>Income/Expense</th>
                        <th>Amount</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  set balance, income, expense   = 1000000000, 0, 0 %}
                    {% for transaction in transactions %}
                    <tr class="gradeX">
                        <td>{{ transaction.type }}</td>
                        <td>{{ transaction.date ? transaction.date|date('m/d/Y') : '' }}</td>
                        <td>{{ transaction.typesOfPayment?'Cash':'Bank' }}</td>
                        <td>{{ transaction.debitOrCredit?'Expense':'Income'  }}</td>
                        {% if transaction.debitOrCredit%}
                            {%  set balance = balance - transaction.amount %}
                            {%  set expense = expense + transaction.amount %}
                        {% else %}
                            {%  set balance = balance + transaction.amount %}
                            {% set income = income + transaction.amount %}
                        {% endif %}
                        <td>{{ transaction.amount }}</td>
                        <td>
                            <a href="{{ path('transaction_show', {'id': transaction.id}) }}" class="btn btn-success">Show</a>
                            <a href="{{ path('transaction_edit', {'id': transaction.id}) }}" class="btn btn-success">Edit</a>
                        </td>
                    </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
