{% extends 'base.html.twig' %}

{% block title %}New transaction{% endblock %}

{% block body %}
    <button class="btn btn-inverse"> <a href="{{ path('transaction_index') }}">back to list</a></button>
        <div class="col-md-8">
            <h3 style="display: inline">Create new Transaction</h3>
        </div>

    {{ include('transaction/_form.html.twig') }}


{% endblock %}
