{% extends 'base.html.twig' %}

{% block title %}Transaction{% endblock %}

{% block body %}
    <h1>Transaction</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Title Of Transaction</th>
            <th>UserId</th>
            <th>Amount</th>
            <th>Type Of Payment</th>
            {% if not transaction.transaction.TypesOfPayment %}
            <th>Bank Name</th>
            <th>Account Number</th>
            {% endif %}
            <th>Debit Or Credit</th>
            <th>CreateAt</th>
            <th>UpdateAt</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr>


                <td>{{ transaction.transaction.type }}</td>
                <td>{{ transaction.transaction.userId }}</td>
                <td>{{ transaction.transaction.amount }}</td>
                <td>
                    {% if  not transaction.transaction.TypesOfPayment %}
                    Bank



                <td>{{ transaction.bankName }}</td>
                <td>{{ transaction.accountNumber }}</td>

                {% else %}
                    Cash
                {% endif %}
                </td>
                <td>{{ transaction.debitOrCredit? 'Debit': 'Credit' }}</td>
                <td>{{ transaction.createAt ? transaction.createAt|date('Y-m-d') : '' }}</td>
                <td>{{ transaction.updateAt ? transaction.updateAt|date('Y-m-d') : '' }}</td>







{#                {% for data in  transaction%}#}
{#                    <td>{{ data }}</td>#}
{#                {% endfor %}#}
            </tr>
        </tbody>
    </table>

<div class="row">


    <div class="col-md-1 col-sm-3">
        <a href="{{ path('transaction_edit', {'id': transaction.transaction.id}) }}">edit</a>
    </div>
    <div class="col-md-1 col-sm-3">
        {{ include('transaction/_delete_form.html.twig') }}

    </div>
    <div class="col-md-2 col-sm-3">
        <a href="{{ path('transaction_index') }}">back to list</a>

    </div>


</div>
{% endblock %}
